<h1><%=pluralize(@recipes.size, "Receita", "Receitas") %></h1>

<% @recipes.each do |recipe| %>

    <article>
        <header>
            <h2> <%= link_to recipe.name , recipe %> </h2>
        <%= imagem(recipe)%>


        </header>

        <p>
        <strong> Ingredientes: </strong> <%=recipe.stuff %> 
        </p>

        <p>
        <strong> Calorias: </strong> <%= recipe.calories %> 
        </p>


        <p>
        <strong> Duração: </strong> <%= recipe.duration.to_formatted_s (:time) %> min
        </p>
        <table>

        <tr>
            <th>Modo de Preparo: </th>
            <td> <%= recipe.prepare_mode %> </td>
        <tr>


        <tr>
            <th>Custo do Prato: </th>
            <td> <%= number_to_currency(recipe.cost) %> </td>
        <tr>

        </table>
    </article>
    <% end %>
    </br>

<strong class="nova_receita"> <%= link_to 'Nova Receita', new_recipe_path %> </strong>
    